@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Календарь</title>
</head>
<body>
    <h3><a href="~/Home/Index">Вернуться на главную страницу</a></h3>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=oskcalendartest%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FMoscow" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>
</html>