@{ 
    Layout = null;
}
<html>
<head>
    <title>Ваша заявка принята на рассмотрение</title>
</head>
<body>
    <h3>Ваша заявка принята на рассмотрение</h3>
    <h1>Вернуться на главную <a href="~/Home/Index">страницу </a></h1>
</body>
</html>