@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Заявление</title>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>
<body>
    <div>
        <h3>Форма подачи заявки</h3>
        <p>Чтобы подать заявку необходимо заполнить все следующие поля:</p>
        <div class="text-danger" id="recaptchaError">@ViewData["Message"]</div>
        <form id="addEventForm" method="post">
            <input type="hidden" value="@ViewBag.Statement" name="StateID" />
            <table>
                <tr>
                    <td>ФИО:</td>
                    <td><input type="text" name="Name"/></td>
                </tr>
                <tr>
                    <td>Номер телефона:</td>
                    <td><input type="text" name="Phone" /></td>
                </tr>
                <tr>
                    <td>Организация:</td>
                    <td><input type="text" name="Organization"/></td>
                </tr>
                <tr>
                    <td>Описание мероприятия</td>
                    <td><input type="text" name="Summary"/></td>
                </tr>
                <tr>
                    <td>Место проведения мероприятия</td>
                    <td><input type="text" name="Location"/></td>
                </tr>
                <tr>
                    <td>День проведения(ГГГГ-ММ-ДД):</td>
                    <td><input type="date" name="Day"/></td>
                </tr>
                <tr>
                    <td>Время начала(ЧЧ-ММ):</td>
                    <td><input type="time" name="Event_Begin"/></td>
                </tr>
                <tr>
                    <td>Время конца(ЧЧ-ММ):</td>
                    <td><input type="time" name="Event_End"/></td>
                </tr>
                <tr><td>
                    <button
                        class="g-recaptcha"
                        data-sitekey="@(configuration["ReCaptcha:SiteKey"])"
                        data-callback="submitCallback">
                        Отправить заявку
                    </button>
                </td></tr>
            </table>
        </form>
    </div>
    <script>
        function submitCallback(token) {
            document.getElementById("addEventForm").submit();
        }
    </script>
</body>
</html>